*{box-sizing: border-box;}
body{
    padding: 0;
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat Light", serif;
    background-color: #efefef;



}                       /* login form */

.login-container {
    /*background-color: #333333;*/
    width: 100%;
}
#loginForm{
    width: 100%;
    background-color: #333333;

}
.login-container input{
    float: left;
    padding: 6px;
    margin: auto 10px 0 0;
    font-size: 17px;
    width: 250px;
    font-family: "Montserrat Light", serif;
    border: 1px solid grey;
}
.login-container button {
    float: left;
    padding: 6px 12px;
    margin: auto 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat Light", serif;

}
.login-container button:hover {
    background-color: #00acee;
    color: white;
    font-weight: bold;
}
#signup{
    float: right;
    text-align: right;
    display: flex;
    justify-content: space-between;
    width: 25%;
}
#signup p {
    margin: 4px auto;
    font-size: 19px;
}
#signup a{
    text-decoration: none;
    float: left;
    padding: 6px 12px;
    margin: auto 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #333333;
}
#signup a:hover{
    background-color: #00acee;
    color: white;
    font-weight: bold;
}
                        /* login form error */
.loginerror{
    margin-top: 5%;
    background-color: rgba(255, 0, 0, 0.33);
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}

                        /* image header */
.image_header{
    width: 100%;
    overflow: hidden;
}
.image_header img{
    width: 100%;
}

                        /* date + login status */
.logStatDate{
    position: absolute;
    top: 2%;
    right: 11%;
    margin: auto;
    text-align: right;
    background-color: rgba(51, 51, 51, 0.3);
    padding: 10px;
    border-radius: 4px;
    color: wheat;

}
.logStatDate p {
    margin: 0;
}

                            /*  nav */
.topnav{
    height: fit-content;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
/*.topnav a.active{
    background-color: orangered;
    color: white;
}*/
.topnav .icon:hover{
    color: orangered;
}

.topnav .icon{
    display: none;
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}
                        /* dropdown btn */

li a,.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;color: #333333;}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown{
    display: inline-block;
}

/*------------------------------*/
li a:hover {
    background-color: orangered;
    color: white;
    font-weight: bold;
}

#logoutForm{
    height: 100%;
    float: right;
    bottom: 0;
    margin: 0;
}
#logoutForm button{
    padding: 16px 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #333333;
    color: white;
}
#logoutForm button:hover{
    background-color: orangered;
    color: white;
}
/*.active { background-color: #4CAF50;}*/



@media screen and (max-width: 1005px) { /* ------topnav responsive -----*/
    .login-container input{
        padding: 20px;
        margin: auto 10px 0 0;
        border-radius: 8px;
        width: 100%;
        margin-top: 15px;
    }
    .login-container button{
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        margin: 10px auto;
    }
    #signup a{
        width: 100%;
        padding: 20px;
        border-radius: 8px;
    }
    #signup{
        float: left;
        text-align: center;
        display: flex;
        width: 100%
    }
    .topnav ul li.right, #logoutForm{
        text-align: center;
        float: none;
    }
    #logoutForm button{ width: 100%;}

/* topnav responsive login */

    .topnav .login-container {float: none;}

    .topnav a, .topnav input[type=text],
    .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {border: 1px solid #ccc;}
}

/* topnav responsive hamburger 1*/

@media screen and (max-width: 1005px) {

    .topnav ul li:not(:first-child) {display: none;}
    .dropdown.responsive div a{ display: none;}
    #logoutForm{display:none;}
    .topnav a.icon {
        float: right;
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }
    .dropdown .dropdown-content a.dropbtn{
        float: right;
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }
    .dropdown-content{
        display: block;
        position: relative;
    }

}
/* topnav responsive hamburger 2*/
@media screen and (max-width: 1005px) {

    .topnav.responsive {position: relative;}
    .dropdown.responsive a{ position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive .icon:hover{
        color: white;
    }

    .topnav.responsive ul li {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
    }

    .dropdown.responsive div a{
        display: block;
        float: none;
        text-align: left;
        width: 100%;
    }
    li a:hover{
        background-color: #efefef;
        color: #333333;
    }
    #signup{
        margin-top: 30px;
    }
    .titleNologin p{
        color: white;
    }





}
